<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.imple.salgrade.mapper.SalgradeMapper">
	<select id="countAll">
		select count(*) from salgrade
	</select>
	
	<select id="selectAll">
		select * from salgrade
	</select>
	
	<select id="selectPage">
		select * from salgrade
	</select>
	
	<select id="selectByGrade">
		select *
		  from salgrade
		 where grade = upper(#{grade})
	</select>



</mapper>